%meta(name="description" content="IT专业人员对专业人员培训提供一个IT专业人员实际工作经验分享平台，为IT人员提供多个专题的实际经验讲座，能很好的帮助IT人员提高工作能力，更好的获得加薪升职的机会.")
%meta(name="keywords" content="专业人员对专业人员培训, 培训, 经验分享, 项目管理, 工作结构分解, 测试驱动开发, 行为驱动开发, UML, 设计模式, 高效编程, TDD, Test Driven Development, BDD, Behavior Driven Development, java, dotNet, JUnit, TestNg, Ruby On Rails, RubyOnRails, ROR, Cucumber, RSpec")
