%h1 我的收藏

= show_msg

#favorites
  - @favorites.each do |fav|
    #favorite
      .span-8
        =link_to fav.course.course_name, fav.course
      .span-2
        =link_to t('lable.delete'), fav, :method => :delete
