/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/
@import "screen";

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/

/**************************************/
/*              GLOBALS               */
/**************************************/

body {
  background: url("../images/bg.png") repeat-x scroll left top transparent; }

.align_right {
  text-align: right; }

.align_left {
  text-align: left; }

.align_center {
  text-align: center; }


/**************************************/
/*              HEADER                */
/**************************************/

.header {
    -moz-box-shadow: -5px 0 5px #000000;
    background-color: #1A1A1A;
    border-bottom: 1px solid #999999;
    color: #ffffff;
}

#inner-header ul{
	margin: 0;
	padding: 4px 0;
}

#inner-header ul li {
	display: inline;
}

#inner-header ul li a {
	margin-left: 10px;
	text-decoration: none;
	color: #aaa;
	font-size: 13px;
	text-shadow: 0 0 10px #336699;
	text-shadow: 0 0 10px rgba(51,102,153,0.8);
	text-transform: uppercase;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
}

#inner-header ul li a:hover {
	color: #fff;
}

#inner-header {
	text-align: right;
	font-size: 2em;
	font-weight: bold;
	//background: url(../images/logo.png) left center no-repeat;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/

div#user_nav {
  text-align: right; }

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  width: inherit; }

.error_msg {
  color: red; }

.field_label {
    @extend .span-2;
    @extend .align_right;
}

.field {
    width: 100%;
}

.required_field_label {
    @extend .field_label;
    color: PURPLE;
}

.comments {
    background-color:#d3d3d3;
    border-top:1px dotted #a9a9a9;
    border-left:1px dotted #a9a9a9;
    border-right:1px dotted #a9a9a9;
    display: none;

}

.comment {
    border-bottom:1px solid darkgrey;
}

.delete {
    text-decoration:line-through;
}

.box {
    border:1px solid darkgrey;
}

#middle {
    min-height:400px;
    height:auto;
}

/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
  background: none repeat scroll 0 0 #F1F1F1;
  border-top: 2px solid #DDDDDD;
  font-size: 12px;
  margin: 25px 0 0;
  padding: 20px 0 15px;
}