/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/
div#user_nav { text-align:right; }



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }



/**************************************/
/*               FOOTER               */
/**************************************/

