
= show_msg

- if is_dev?
  = link_to 'change logs', 'changes_log.txt'

-#= render 'common/ad_01'

%h1 讲师介绍
= render 'company/trainer_edwardzhou'

#latest_courses
  %h1 最新课程
  %ul
    = render :partial => 'courses/course_item', :collection => Course.latest_courses
