- content_for :page_include_scripts do
  = javascript_include_tag 'rails.validations',
                            'i18n/messages-zh-CN',
                            'i18n/jquery.ui.datepicker-zh-CN',
                            'i18n/jquery.ui.datepicker-zh-CN',
                            'token-input'

- content_for :page_inline_scripts do
  :javascript
    $(document).ready(function(){
      $("form").validate({errorClass: 'error_msg'});
      $('input[date=true]').datepicker({
        showButtonPanel: true,
        changeYear: true,
        changeMonth: true,
        })
    })

- content_for :page_include_css do
  = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.11.custom", "token-input-mac"

= form_for [:admin, course, campaign],:validate => true do |f|
  %fieldset
    = render 'campaign_form_item_div', :f=>f, :campaign => campaign, :course => course

