order_div=$("#order_present_#{@order.id}");
order_div.html('#{link_to "出席", {:action => "present", :order_id => @order.id}, :method => 'post', :remote => true}');
$("#order_present_title_#{@order.id}").text('否');
$("#order_row_#{@order.id}").show('highlight', 1000);