%h1 新用户帐号激活

%table
  %tbody
    %tr
      %th 注册时间
      %td @user.created_at
    %tr
      %th 激活时间
      %td @user.confirmed_at
    %tr
      %th 用户ID
      %td @user.id
    %tr
      %th 用户名
      %td @user.username
    %tr
      %th 邮件地址
      %td @user.email
    %tr
      %th 姓名
      %td @user.true_name
    %tr
      %th 性别
      %td @user.gender
    %tr
      %th 联系电话
      %td @user.contact_phone
    %tr
      %th 公司名称
      %td @user.user_detail.company
    %tr
      %th 职位
      %td @user.user_detail.title
