<table style="width:100%" align="left" border="0" cellpadding="2" cellspacing="2">
    <tbody>
    <tr>
        <td valign="top" width="150px">&nbsp;<img src="/uploads/images/edward_avatar.jpg" alt="" height="141" border="0"
                                                  width="140" align="left" /></td>
        <td><span style="font-size:14px;">中文名: 周辉庆</span><br/>
            <span style="font-size:14px;">英文名: Edward Zhou</span><br/>
            <span style="font-size:14px;">邮&nbsp;&nbsp;&nbsp;&nbsp;箱: edward.zhq@gmail.com</span> , zhou-hui-qing@163.com<br/>
            <span style="font-size:14px;">项目管理专家(PMI.org 认证的PMP, PMP ID: 1312017)</span><br/>
            <br/>
            <span style="font-size:14px;">有着6年以上的项目管理经验,10年以上的软件开发经验.</span><br/>
            <span style="font-size:14px;">担任过多个超过500万项目的项目经理,并成功交付.</span><br/>
            <span style="font-size:14px;">目前主要研究软件过程(XP/Scrum等敏捷开发)及软件开发方法(TDD, BDD,CI等), 以提高项目团队的开发能力,交付质量.</span><br/>
        </td>
    </tr>
    </tbody>
</table>
<br/>