%p(style="width:100%;background-color:#ccccee;padding-top:10px;")
  .ad(style="width:380px;text-align:right;")
    %span{:style => "font-size:14px;color:#003399;"}
      我们不是学校教师，我们是
      %span{:style => "font-size:18px;color:#cc33e5;"}> 多年
      工作经验的
      %span{:style => "font-size:18px;color:#cc33e5;"}> IT专业人员
      。
    %br/
    %span{:style => "color:#003399;"}
    %span{:style => "font-size:14px;color:#003399;"} &nbsp;&nbsp;
    %span{:style => "font-size:14px;color:#003399;"}
      我们分享的不仅仅是理论，更多的是
      %span{:style => "color:#cc33e5;font-size:18px;"}> 真实的工作经验
      。
      %br/
    %span{:style => "font-size:14px;color:#003399;"}
      帮助您更顺利的工作，更快捷的
      %span{:style => "font-size:18px;color:#cc33e5;"}> 加薪升职
      。
    %br/
