#header.span-24
  .span-24.last
    = image_tag 'top_banner.jpg'
  .span-12
    \.
  .span-12.last
    = render "common/user_nav"

  #catalog_nav.header.span-24.last
    = render "common/catalog_nav_bar", :catalogs => Catalog.active_root_catalogs
