#left_box(style="min-height:450px;")
  .recommended
  .inner_box
    %h5
      %b 课程类别
    #catalog_nav
      %ul
        %li.li_star_orange(style="display: list-item;")= link_to "最新课程", latest_courses_path
        %li.li_star_orange(style="display: list-item;")= link_to "热门课程", hot_courses_path
        - Catalog.active_root_catalogs.each do |catalog|
          %li
            = link_to catalog.name, catalog_path(catalog)
  .recommended
  .inner_box
    %h5
      %b 标签
    %ul
      %li JAVA
      %li .Net
      %li Ruby


