.span-24.last.space-13px
#logo
  .span-7
    = link_to root_path do
      = image_tag "logo.jpg", :border => 0
  .span-17.last.align_right
    = render "common/user_nav"

.span-24.last.space-9px
.span-24.last
  = render "common/page_menu_new"
.span-24.last.space-6px