#left_box(style="min-height:450px;")
  .recommended
  .inner_box
    %h5 课程类别
    #catalog_nav
      %ul
        %li= link_to "最新课程", "#"
        %li= link_to "热门课程", "#"
        - Catalog.active_root_catalogs.each do |catalog|
          %li
            = link_to catalog.name, catalog_path(catalog)
  .recommended
  .inner_box
    %h5 标签
    %ul
      %li JAVA
      %li .Net
      %li Ruby


