#user_nav
  - if current_user.nil? then
    = link_to t('label.login'), new_user_session_path
    %span &nbsp;&nbsp;
    = link_to t('label.signup'), new_user_registration_path
  - else
    .span
      != t('label.login_as', :username => current_user.email)
      ,
      = link_to t('label.logout'), destroy_user_session_path
